.backgroundBox {
  box-shadow: var(--mantine-shadow-sm);
}

.lightBackground {
  border: 1px solid var(--mantine-color-gray-4);
  outline: none;
  transition: transform 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.lightBackground:hover {
  outline: 1px solid var(--mantine-color-blue-4);
  transform: scale(1.05);
}

.darkBackground {
  border: 1px solid var(--mantine-color-dark-4);
  outline: none;
  transition: transform 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.darkBackground:hover {
  outline: 1px solid var(--mantine-color-blue-4);
  transform: scale(1.05);
}

.cardBox {
  backdrop-filter: blur(3px);
  border-bottom-right-radius: var(--mantine-radius-md);
  border-bottom-left-radius: var(--mantine-radius-md);
  padding: 10px;
}

.lightBox {
  background-color: rgba(255, 255, 255, 0.2);
  border-top: solid 1px rgba(255, 255, 255, 0.15);
}

.darkBox {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: solid 1px rgba(0, 0, 0, 0.15);
}

.extraDetails {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
}

.backgroundBox:hover .extraDetails {
  display: block;
  visibility: visible;
  opacity: 1;
}
